<div id="homeBack">
  <div id='searchH1'>
    <div>
      <% if session[:user_id].nil? %>
      <h1 class="jumbo">Rent<span id="logo13">13</span></h1>
        <p id="quotes" class="jumbo">Making the world a better place one review at a time</p>
        <p id="quotes" class="jumbo">Let us help you find your perfect home</p>
      </div>
      <% else %>
      <h1 class="jumbo">Rent<span id="logo13">13</span></h1>
        <p id="quotes1" class="jumbo">Making the world a better place one review at a time</p>
        <p id="quotes" class="jumbo">Let us help you find your perfect home</p>
      </div>
    <button class="btn" id="searchBtn">
      <a href="/properties">Check Out Our Properties</a>
    </button>
    <% end %>
    <div id="see"></div>
  </div>
  </div>
