<div id="homeBack">
  <div id='searchH1'>
    <div>
      <h1>Rent<span id="logo13">13</span></h1>
        <p id="quotes">Making the world a better place one review at a time</p>
        <p id="quotes">Let us help you find your perfect home</p>
      </div>
    <button class="btn">
      <a href="/properties">Check Out Our Properties</a>
    </button>
  </div>
</div>


    <!--start-->
    <!-- <div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                    <img src="image1.jpg" class="ns-img"></img>
                    <div class="caption"><h1>Rent<span id="logo13">13</span></h1>
                      <button class="btn">
                        <a href="/properties">Check Out Our Properties</a>
                      </button>
                    </div>
                </li>
                <li>
                    <img src="image2.jpg" class="ns-img"></img>
                    <div class="caption"><h1>Let us help you find your perfect home</h1>
                      <button class="btn">
                        <a href="/properties">Check Out Our Properties</a>
                      </button>
                    </div>
                </li>
                <li>
                    <img src="image3.jpg" class="ns-img"></img>
                    <div class="caption"><h1>Making the world a better place one review at a time</h1>
                      <button class="btn">
                        <a href="/properties">Check Out Our Properties</a>
                      </button>
                    </div>
                </li>
                <li>
                    <img src="image4.jpg" class="ns-img"></img>
                    <div class="caption"><h1>Rent<span id="logo13">13</span></h1>
                      <button class="btn">
                        <a href="/properties">Check Out Our Properties</a>
                      </button>
                    </div>
                </li>
                <li>
                    <img src="image5.jpg" class="ns-img"></img>
                    <div class="caption"><h1>Release date: TBD</h1>
                      <button class="btn">
                        <a href="/properties">Check Out Our Properties</a>
                      </button>
                    </div>
                </li>
            </ul>
            <div class="navsWrapper">
                <div id="ninja-slider-prev"></div>
                <div id="ninja-slider-next"></div>
            </div>
        </div>
    </div> -->
