<div class="card-panel">
  <%= form_for @review do |f| %>
  <h4 class="card-panel">Edit Review</h4>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.text_field :text %>
  </div>

  <br>
  <%= f.submit "Update" %>
</div>
<% end %>
