<h1>Login</h1>

<%= form_for @user, url: "/sessions", method: "post" do |f| %>

   <%= f.text_field :email, placeholder: "Email Address" %>
   <%= f.password_field :password, placeholder: "Password" %>
   <%= f.submit "Login", :class => "button" %>

<% end %>
